/*CSS for the ad image logo*/
/*Made by Nicholas Huaman*/
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
#Ad {
    background: url(https://huamangames.github.io/resources.a8h2_HuamanGames/files/Huaman/HuamanGames/all/ok/Game/Resources/Don-t/find/this/images/logo.png) no-repeat;
    background-size: 800px 700px;
    height: 725.5px;
    width: 100%;
    background-position: center center;
    text-align:center;
    font-family: 'Black Han Sans', sans-serif;
}
#Twit {
    background: url(https://upload.wikimedia.org/wikipedia/commons/3/3a/Twitch_mit_Glitch.png) no-repeat;
    background-size: 800px 700px;
    height: 725.5px;
    width: 100%;
    background-position: center center;
    text-align:center;
    font-family: 'Black Han Sans', sans-serif;
}
